
nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;


}

.item {
    list-style: none;
    padding: 10px;
    /* margin: 3px; */
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    /* background-color: white; */
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #333;
}

.list {
    display: flex;
    justify-content: space-around;
    
}

@media screen and (max-width: 600px) {
    .item {
       letter-spacing: 2px;
       line-height: 1;
       padding: 0px;
       margin: auto;
    }

    ul {
        padding-inline-start: 0;
    }
    .list {
        flex-flow: column wrap;

    }

    nav {
        /* display: none; */
    }

}
