html,
body {
  height: 100%;
  margin: 0;
  background-color: orange;
}
section {
  margin-top: 100px;
  height: 100vh;
}
body {
  font-family: "Open Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans",
    monospace;
}
