html,
body {
  height: 100%;
  margin: 0;
  background-color: orange;
  font-family: "Open Sans",
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
section {
  margin-top: 70px;
  height: 100vh;
  display: flex;
  align-items: center ;
  justify-content: center;
  text-align: center;
}

code {
  font-family: "Open Sans",
    monospace;
}

h1 { 
  font-weight: 700;
  font-size: 70px;
  text-shadow: 2px 2px gray;
  letter-spacing: -3px;
}


@media screen and (max-height: 450px) {

  h1 {
    font-size: 30px;
    letter-spacing: -1.5px;
  }

  h2 {
      font-size: 25px;
      letter-spacing: 0px;
  }

  img {
      display: none;
  }

  p {
    letter-spacing: -1px;
  } 
  
}

@media screen and (max-width: 800px) {
  section {flex-flow: column wrap;}
  h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
  }

  h2 {
    font-size: 30px;
  }

  p h3 h4 {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-height: 600px) {
  h1 {
      font-size: 30px;
      /* letter-spacing: -1.5px; */
  }

  p {
      /* letter-spacing: -1px; */
  }
}

.background {
  background-image: url("./images/2.jpg");
  margin: auto;
  background-size: cover;
}



h2 { 
  font-weight: 700;
  /* text-shadow: 2px 2px gray; */
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.headerText {
  font-size: 20px;
  font-weight: 600;
  padding: 5px;

  text-shadow: 1px 1px gray;
}

#links {
  padding: 10px 20px;
}

.linkList {
  padding: 20px
}

